table {
    width: 100%;
  }

  .addContact {

    margin-top: 20px;
    margin-bottom: 30px;
  }

  .hide{
    display: none;
}

/* mat-table */
.nodata{
    justify-content: center;
    font-style: italic;
    
}
